@model TinyShop.Models.ChartInfo
<script>
    var namesArrayOne = @Html.Raw(Json.Encode(Model.ChartNamesOne));
    var totalArrayOne = @Html.Raw(Json.Encode(Model.ChartTotalOne));
    var totalArrayTwo = @Html.Raw(Json.Encode(Model.ChartTotalTwo));
    var total
    var infoString = '@ViewBag.dateRequest';
</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Current date - @DateTime.Today.ToLongDateString()</h3>
                <br />
                <form class="form-inline" role="form" action="/Home/Diagram" method="post">
                    <div class="form-group">
                        <label>Period №1 : Month</label>
                        <select name="monthOne" class="form-control" selected="1">
                            @foreach (int month in Model.Months) {
                                <option value="@month">@month</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Period №1 : Year</label>
                        <select name="yearOne" class="form-control">
                            @foreach (int year in Model.Years) {
                                <option value="@year">@year</option>
                            }
                        </select>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>Period №2 : Month</label>
                        <select name="monthTwo" class="form-control" selected="1">
                            @foreach (int month in Model.Months) {
                                <option value="@month">@month</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Period №2 : Year</label>
                        <select name="yearTwo" class="form-control">
                            @foreach (int year in Model.Years) {
                                <option value="@year">@year</option>
                            }
                        </select>
                    </div>
                    <br/>
                        <input type="submit" class="btn btn-success" name="action" value="show">
                </form>
            </div>
            <div class="panel-body">
                <div id="chart_container">
                    <canvas id="bar_chart"></canvas>
                </div>
                <div id="chart_container">
                    <canvas id="bar_charttwo"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/Chart.js")
    @Scripts.Render("~/scripts/chartone.js")
    @Scripts.Render("~/scripts/charttwo.js")
}