@{
    ViewBag.Title = "Diagram";
}
<h2>@ViewBag.Title.</h2>
<script>
    var namesArray = @Html.Raw(Json.Encode(ViewBag.NAMES));
    var totalArray = @Html.Raw(Json.Encode(ViewBag.TOTAL));
</script>
<div id="chart_container">
    <canvas id="bar_chart"></canvas>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/Chart.js")
    @Scripts.Render("~/scripts/chartone.js")
}