@model FileInfo[]
@{
    ViewBag.Title = "Import";
}
<h3>Files list:</h3>
@foreach (FileInfo f in Model) {
    <p>@f.Name</p>
}
<!-- Display filename inside the button instead of its label -->


<h3>Выберите файл для загрузки</h3>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Current date - @DateTime.Today.ToLongDateString()</h3>
                <form class="form-inline" role="form" action="/Home/Import" enctype="multipart/form-data" method="post">
                    <div class="btn-group">
                        <input type="file" class="form-control" data-filename-placement="inside">
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" name="action" value="load">Load</button>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                @foreach (FileInfo f in Model) {
                    <form class="form-inline" role="form" action="/Home/ChangeFile" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="@f.Name" value="@f.Name" readonly>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" name="action" value="apply">
                            <input type="submit" class="btn btn-danger" name="action" value="delete">
                        </div>
                    </form>
                    <br />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
@Scripts.Render("~/scripts/bootstrap.file-input.js")    
    <script>
        $('input[type=file]').bootstrapFileInput();
        $('.file-inputs').bootstrapFileInput();
    </script>
}