@model List<TinyShop.Models.Row>
@{
    ViewBag.Title = "Home Page";
}

<!-- Generate new row-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">@ViewBag.Time</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <select class="form-control">
                            @foreach (var product in ViewBag.Products) {
                                <option value="@product.Name">@product.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="q">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cost">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="sum" readonly>
                    </div>
                    <br/>
                    <input class="btn btn-success" type="button" value="Save">



                    @foreach (var row in Model) {
                        <div class="form-group">
                            <input type="text" class="form-control" value="@row.Quantity">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" value="@row.Cost">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" value="@row.Quantity + @row.Cost" readonly>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
