@model List<TinyShop.Models.Row>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Current date - @DateTime.Today.ToLongDateString()</h3>
                <br/>
                <form class="form-inline" role="form" action="/Home/BackInTime" method="post">
                    <input type="hidden" name="currentDate" class="form-control" value="@ViewBag.Time">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" name="action" value="back">&larr; Back to</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">@ViewBag.Time.ToLongDateString()</button>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" name="action" value="forward">Forward &rarr;</button>
                    </div>
                </form>
                <br/>
                <form class="form-inline" role="form" action="/Home/Index" method="get">
                    <div class="btn-group">
                        <input type="number" name="day" class="form-control" placeholder="Day">
                    </div>
                    <div class="btn-group">
                        <input type="number" name="month" class="form-control" placeholder="Month">
                    </div>
                    <div class="btn-group">
                        <input type="number" name="year" class="form-control" placeholder="Year">
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" name="action" value="gotodate">Go to date</button>
                    </div>
                </form>
            </div>
            <div class="panel-body">
            @foreach (var row in Model) {
                ViewBag.Total += row.Total;
                <form class="form-inline" role="form" action="/Home/ChangeRow" method="post">
                    <div class="form-group">
                        <input type="hidden" name="row.RowId" class="form-control" value="@row.RowId">
                        <input type="hidden" name="row.Date" class="form-control" value="@row.Date">
                        <select name="row.Name" class="form-control" selected="@row.Name">
                            @foreach (var product in ViewBag.Products) {
                                if (product.Name == row.Name) {
                                    <option value="@product.Name" selected="selected">@product.Name</option>
                                }
                                else {
                                    <option value="@product.Name">@product.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" min="1" step="1" name="row.Quantity" class="form-control" value="@row.Quantity">
                    </div>
                    <div class="form-group">
                        <input type="text" name="row.Cost" class="form-control" value="@row.Cost">
                    </div>

                    <div class="form-group">
                        <input type="text" name="row.Total" class="form-control" value="@row.Total" readonly>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" name="action" value="change">
                        <input type="submit" class="btn btn-danger" name="action" value="delete">
                    </div>
                </form>
                <br/>
            }
                <hr/>
                <h3>Total: @ViewBag.Total</h3>
            </div>
        </div>
    </div>
</div>


<h3>Add new consumption:</h3>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form name="addnewconsumption" class="form-inline" role="form" action="/Home/Index" method="post">
            <div class="form-group">
                <input type="hidden" name="row.Date" class="form-control" value="@ViewBag.Time">
                <select name="row.Name" class="form-control">
                    @foreach (var product in ViewBag.Products) {
                        <option value="@product.Name">@product.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input id="quantity" type="number" min="1" step="1" name="row.Quantity" class="form-control">
            </div>
            <div class="form-group">
                <input id="cost" type="text" name="row.Cost" class="form-control">
            </div>
            <div class="form-group">
                <input id="total" type="text" name="row.Total" class="form-control" readonly>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="add">
            </div>
            <label for="FirstName">First Name:</label>
            <input data-val="true" data-val-required="Please enter the first name." id="FirstName" name="FirstName" type="text" value="">
            
                <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"><div class="alert alert-danger" role="alert"></div></span>
            
        </form>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/scripts/multiply.js")
}